html, body {
  margin: 0;
  height: 100%;
}
#content {
  min-height: 100%;
}


.sapMPage {
  height: 100%;
}

.tileWrapper {
  width: 200px;
  margin: 0 12px 12px 0;
}

.sortable-ghost {
  opacity: 0.4;
  background-color: #f0f0f0;
  border: 1px dashed #999;
}
